name: Hello World Workflow
on: workflow_dispatch
jobs:
  hello-world:
    runs-on: ubuntu-latest
    steps:
      - name: Cloning repository
        uses: actions/checkout@v6
      - name: Print Hello World
        run: echo "Hello, World!"